.cardContainer {
    border: solid 1px #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px 0;
    font-size: 14px;
    height: 20vh;
    max-height: 175px;
    width: 90%;

    .cardHeader {
        display: flex;
        justify-content: flex-start;

        h1 {
            margin: 5px;
        }
    }

    .cardStatus {
        display: flex;
        justify-content: flex-start;

        h3 {
            margin: 5px;
        }
    }

    .cardInfo {
        display: flex;
        justify-content: space-between;
        
        h5 {
            margin: 5px;
        }
    }
}
